# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore SQLite database
# Ignore all .db and .backup files in data/
data/*
data/backups/*.tar.gz
data/life.db
!data/.keep
# Ignore backups
data/backups/
data/documents/
data/images/events


# Ignore uploaded and imported files
app/uploads/
import/
logs/
docs/
documents/


# Ignore shell scripts (you can comment this out if some scripts should stay)
*.sh

# Ignore user-specific or sensitive config
app/config.py
dev_life.sh
setup_life.sh
start_life.sh
SETUP_README.md
.sudo*
.profile
.bash*


# Placeholder for config.py (add manually)
# echo "# Placeholder config file" > app/config.py
# git add app/config.py
# git update-index --assume-unchanged app/config.py
.git-credentials
